<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ConfiG SYSTEM "src/Config.dtd">
<!--
    Document   : Config.xml
    Created on : 10 août 2010, 16:31
    Author     : Max
    Description:
        Configure color of graphs

-->

<ConfiG>
    <colors>
        <itemcolor name="rawch/s">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="canch/s">
            <color>0,255,255</color>
        </itemcolor>
        <itemcolor name="outch/s">
            <color>255,255,0</color>
        </itemcolor>
        <itemcolor name="xmtin/s">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="rcvin/s">
            <color>0,0,255</color>
        </itemcolor>
        <itemcolor name="mdmin/s">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="%usr">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="%sys">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name ="%system">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="%user">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="%idle">
            <color>127,127,127</color>
        </itemcolor>
        <itemcolor name="%nice">
            <color>255,255,0</color>
        </itemcolor>
        <itemcolor name="%steal">
            <color>255,127,0</color>
        </itemcolor>
        <itemcolor name="%iowait">
            <color>255,0,127</color>
        </itemcolor>
        <itemcolor name="%wio">
            <color>255,0,127</color>
        </itemcolor>
        <itemcolor name="intr/s">
            <color>255,127,127</color>
        </itemcolor>
        <itemcolor name="ldavg-1">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="ldavg-5">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="ldavg-15">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="plist-sz">
            <color>0,255,255</color>
        </itemcolor>
        <itemcolor name="runq-sz">
            <color>255,255,0</color>
        </itemcolor>
        <itemcolor name="coll/s">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="rxerr/s">
            <color>255,255,0</color>
        </itemcolor>
        <itemcolor name="rxdrop/s">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="rxfram/s">
            <color>0,255,255</color>
        </itemcolor>
        <itemcolor name="rxfifo/s">
            <color>255,255,255</color>
        </itemcolor>
        <itemcolor name="txerr/s">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="txdrop/s">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="txcarr/s">
            <color>0,0,255</color>
        </itemcolor>
        <itemcolor name="txfifo/s">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="cswch/s">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="blks/s">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="tps">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="bread/s">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="bwrtn/s">
            <color>255,255,0</color>
        </itemcolor>
        <itemcolor name="rtps">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="wtps">
            <color>0,0,255</color>
        </itemcolor>
        <itemcolor name="avwait">
            <color>255,0,0</color>
        </itemcolor>
        <itemcolor name="avserv">
            <color>0,255,0</color>
        </itemcolor>
        <itemcolor name="avque">
            <color>255,0,255</color>
        </itemcolor>
        <itemcolor name="r+w/s">
            <color>0,127,255</color>
        </itemcolor>
        <itemcolor name="%busy">
            <color>255,255,0</color>
        </itemcolor>
    </colors>
    <!--  BEGIN OS -->
    <OS>
        <OSType name="Linux">
            <Stat name="proc1">
                <headerstr>proc/s</headerstr>
                <graphname>PROC</graphname>
            </Stat>
            <Stat name="cswch">
                <headerstr>cswch/s</headerstr>
                <graphname>CSWCH</graphname>
            </Stat>
            <Stat name="intr">
                <headerstr>INTR intr/s</headerstr>
                <graphname>INTR</graphname>
            </Stat>
            <Stat name="swap1">
                <headerstr>pswpin/s pswpout/s</headerstr>
                <graphname>SWAP</graphname>
            </Stat>
            <Stat name="proc2">
                <headerstr>proc/s cswch/s</headerstr>
                <graphname>PROC2</graphname>
            </Stat>
            <Stat name="dev2">
                <headerstr>DEV tps blks/s</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="page1">
                <headerstr>frmpg/s bufpg/s campg/s</headerstr>
                <graphname>PAGE</graphname>
            </Stat>
            <Stat name="page2">
                <headerstr>frmpg/s shmpg/s bufpg/s campg/s</headerstr>
                <graphname>PAGE</graphname>
            </Stat>
            <Stat name="load1">
                <headerstr>runq-sz plist-sz ldavg-1 ldavg-5</headerstr>
                <graphname>LOAD</graphname>
            </Stat>
            <Stat name="dev3">
                <headerstr>DEV tps rd_sec/s wr_sec/s</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="paging1">
                <headerstr>pgpgin/s pgpgout/s fault/s majflt/s</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="dentunusd1">
                <headerstr>dentunusd file-nr inode-nr pty-nr</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="cpu2">
                <headerstr>CPU %user %nice %system %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="io">
                <headerstr>tps rtps wtps bread/s bwrtn/s</headerstr>
                <graphname>IO</graphname>
            </Stat>
            <Stat name="socket1">
                <headerstr>totsck tcpsck udpsck rawsck ip-frag</headerstr>
                <graphname>SOCKET</graphname>
            </Stat>
            <Stat name="load2">
                <headerstr>runq-sz plist-sz ldavg-1 ldavg-5 ldavg-15</headerstr>
                <graphname>LOAD</graphname>
            </Stat>
            <Stat name="kswap">
                <headerstr>kbswpfree kbswpused %swpused kbswpcad %swpcad</headerstr>
                <graphname>KSWAP</graphname>
            </Stat>
            <Stat name="cpu3">
                <headerstr>CPU %user %nice %system %iowait %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="paging2">
                <headerstr>pgpgin/s pgpgout/s activepg inadtypg inaclnpg inatarpg</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="nfsc">
                <headerstr>call/s retrans/s read/s write/s access/s getatt/s</headerstr>
                <graphname>NFSC</graphname>
            </Stat>
            <Stat name="socket2">
                <headerstr>totsck tcpsck udpsck rawsck ip-frag tcp-tw</headerstr>
                <graphname>SOCKET</graphname>
            </Stat>
            <Stat name="cpu4">
                <headerstr> CPU %user %nice %system %iowait %steal %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="tty">
                <headerstr>TTY rcvin/s xmtin/s framerr/s prtyerr/s brk/s ovrun/s</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="kmem2">
                <headerstr>kbmemfree kbmemused %memused kbbuffers kbcached kbcommit %commit</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="inet10">
                <headerstr>IFACE rxpck/s txpck/s rxbyt/s txbyt/s rxcmp/s txcmp/s rxmcst/s</headerstr>
                <graphname>INET1</graphname>
            </Stat>
            <Stat name="inet11">
                <headerstr>IFACE rxpck/s txpck/s rxkB/s txkB/s rxcmp/s txcmp/s rxmcst/s</headerstr>
                <graphname>INET1</graphname>
            </Stat>
            <Stat name="cpu5">
                <headerstr>CPU %usr %nice %sys %iowait %steal %irq %soft %guest %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="kmem3">
                <headerstr>kbmemfree kbmemused %memused kbmemshrd kbbuffers kbcached kbswpfree kbswpused %swpused</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="kmem4">
                <headerstr>kbmemfree kbmemused %memused kbbuffers kbcached kbswpfree kbswpused %swpused kbswpcad</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="dev4">
                <headerstr>DEV tps rd_sec/s wr_sec/s avgrq-sz avgqu-sz await svctm %util</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="dentunusd2">
                <headerstr>dentunusd file-sz inode-sz super-sz %super-sz dquot-sz %dquot-sz rtsig-sz %rtsig-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="paging3">
                <headerstr>pgpgin/s pgpgout/s fault/s majflt/s pgfree/s pgscank/s pgscand/s pgsteal/s %vmeff</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="inet21">
                <headerstr>IFACE rxerr/s txerr/s coll/s rxdrop/s txdrop/s txcarr/s rxfram/s rxfifo/s txfifo/s</headerstr>
                <graphname>INET2</graphname>
            </Stat>
            <Stat name="dentunusd3">
                <headerstr>dentunusd file-sz %file-sz inode-sz super-sz %super-sz dquot-sz %dquot-sz rtsig-sz %rtsig-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="cpu6">
                <headerstr>CPU %usr %nice %sys %iowait %steal %irq %soft %guest %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="nsfm">
                <headerstr>scall/s badcall/s packet/s udp/s tcp/s hit/s miss/s sread/s swrite/s saccess/s sgetatt/s</headerstr>
                <graphname>NFSM</graphname>
            </Stat>
 
            <!-- GRAPHS -->
            <Graph name="PROC" Title="Proc" type="unique">
                <Plot Title="proc">proc/s</Plot>
            </Graph>
            <Graph name="CSWCH" Title="Context" type="unique">
                <Plot Title="cwsch">cswch/s</Plot>
            </Graph>

            <Graph name="INTR" Title="Interrupts" type="multiple">
                <Plot Title="intr">intr/s</Plot>
            </Graph>
            <Graph name="SWAP" Title="Swap" type="unique">
                <Plot Title="swap">pswpin/s pswpout/s</Plot>
            </Graph>
            <Graph name="INET1" Title="Interfaces traffic" type="multiple">
                <Plot Title="packet">rxpck/s txpck/s</Plot>
                <Plot Title="bytes">rxbyt/s txbyt/s rxkB/s txkB/s</Plot>
                <Plot Title="cast">rxcmp/s txcmp/s rxmcst/s</Plot>
            </Graph>
            <Graph name="INET2" Title="Interfaces error" type="multiple">
                <Plot Title="Rx">rxerr/s rxdrop/s rxfram/s rxfifo/s</Plot>
                <Plot Title="Tx">txerr/s txdrop/s txcarr/s txfifo/s</Plot>
                <Plot Title="Collision">coll/s</Plot>
            </Graph>
            <Graph name="PAGING" Title="Paging" type="unique">
                <Plot Title="pgp">pgpgin/s pgpgout/s</Plot>
                <Plot Title="pg">activepg inadtypg inaclnpg inatarpg</Plot>
                <Plot Title="fault">fault/s majflt/s</Plot>
                <Plot Title="free">pgfree/s pgscank/s pgscand/s pgsteal/s</Plot>
                <Plot Title="vmeff">vmeff</Plot>
            </Graph>
            <Graph name="DEV" Title="Devices" type="multiple">
                <Plot Title="tps">tps</Plot>
                <Plot Title="blks/s">blks/s</Plot>
                <Plot Title="sector">rd_sec/s wr_sec/s</Plot>
                <Plot Title="queue">avgrq-sz avgqu-sz</Plot>
                <Plot Title="service">await svctm</Plot>
                <Plot Title="util">%util</Plot>
            </Graph>
            <Graph name="IO" Title="I/O" type="unique">
                <Plot Title="tps">tps rtps wtps</Plot>
                <Plot Title="byte">bread/s bwrtn/s</Plot>
            </Graph>
            <Graph name="PAGE" Title="Page" type="unique">
                <Plot Title="Page">frmpg/s shmpg/s bufpg/s campg/s</Plot>
            </Graph>
            <Graph name="KMEM" Title="KMem" type="unique">
                <Plot Title="KMem">kbmemfree kbmemused kbmemshrd kbbuffers kbcached kbcommit</Plot>
                <Plot Title="Swap">kbswpfree kbswpused kbswpcad</Plot>
                <Plot Title="%">%memused %swpused %commit</Plot>
            </Graph>
            <Graph name="KSWAP" Title="KSwap" type="unique">
                <Plot Title="Swap">kbswpfree kbswpused kbswpcad</Plot>
                <Plot Title="%">%swpused %swpcad</Plot>
            </Graph>
            <Graph name="LOAD" Title="Load" type="unique">
                <Plot Title="RunQ">runq-sz</Plot>
                <Plot Title="Plist">plist-sz</Plot>
                <Plot Title="LA">ldavg-1 ldavg-5 ldavg-15</Plot>
            </Graph>
            <Graph name="SOCKET" Title="Socket" type="unique">
                <Plot Title="Socket">totsck tcpsck udpsck rawsck</Plot>
                <Plot Title="Frag">ip-frag tcp-tw</Plot>
            </Graph>
            <Graph name="NFSC" Title="NFS Client" type="unique">
                <Plot Title="call">call/s retrans/s</Plot>
                <Plot Title="I/O">read/s write/s</Plot>
                <Plot Title="access">access/s getatt/s</Plot>
            </Graph>
            <Graph name="NFSM" Title="NFS Server" type="unique">
                <Plot Title="call">call/s badcalls/s</Plot>
                <Plot Title="I/O">packet/s udp/s tcp/s</Plot>
                <Plot Title="cache">hit/s miss/s</Plot>
                <Plot Title="traffic">sread/s swrite/s saccess/s sgetatt/s</Plot>
            </Graph>
            <Graph name="PROC2" Title="Processus" type="unique">
                <Plot Title="Proc">proc/s</Plot>
                <Plot Title="context">cswch/s</Plot>
            </Graph>
            <Graph name="CPU" Title="CPU" type="multiple">
                <Stack Title="Used" size="3">%usr %user %nice %sys %iowait %steal %irq %soft %guest</Stack>
                <Plot Title="Idle" size="1">%idle</Plot>
            </Graph>
        </OSType>
     
        <OSType name="SunOS">
            <Stat name="cpu">
                <headerstr>%usr %sys %wio %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="device">
                <headerstr>device %busy avque r+w/s blks/s avwait avserv</headerstr>
                <graphname>DEVICE</graphname>
            </Stat>
            <Stat name="runq">
                <headerstr>runq-sz %runocc swpq-sz %swpocc</headerstr>
                <graphname>RUNQ</graphname>
            </Stat>
            <Stat name="buffer">
                <headerstr>bread/s lread/s %rcache bwrit/s lwrit/s %wcache pread/s pwrit/s</headerstr>
                <graphname>BUFFER</graphname>
            </Stat>
            <Stat name="swap">
                <headerstr>swpin/s bswin/s swpot/s bswot/s pswch/s</headerstr>
                <graphname>SWAP</graphname>
            </Stat>
            <Stat name="syscall">
                <headerstr>scall/s sread/s swrit/s fork/s exec/s rchar/s wchar/s</headerstr>
                <graphname>SYSCALL</graphname>
            </Stat>
            <Stat name="file">
                <headerstr>iget/s namei/s dirbk/s</headerstr>
                <graphname>FILE</graphname>
            </Stat>
            <Stat name="tty">
                <headerstr>rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</headerstr>
                <graphname>TTY</graphname>
            </Stat>
            <Stat name="ksize">
                <headerstr>proc-sz ov inod-sz ov file-sz ov lock-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="msgs">
                <headerstr>msg/s sema/s</headerstr>
                <graphname>MSGS</graphname>
            </Stat>
            <Stat name="paging1">
                <headerstr>atch/s pgin/s ppgin/s pflt/s vflt/s slock/s</headerstr>
                <graphname>PAGING1</graphname>
            </Stat>
            <Stat name="paging2">
                <headerstr>pgout/s ppgout/s pgfree/s pgscan/s %ufs_ipf</headerstr>
                <graphname>PAGING2</graphname>
            </Stat>
            <Stat name="mem">
                <headerstr>freemem freeswap</headerstr>
                <graphname>MEM</graphname>
            </Stat>
            <Stat name="kmem">
                <headerstr>sml_mem alloc fail lg_mem alloc fail ovsz_alloc fail</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Graph name="CPU" Title="CPU" type="unique">
                <Stack Title="Used" size="3">%usr %sys %wio</Stack>
                <Plot Title="Idle">%idle</Plot>
            </Graph>
            <Graph name="KMEM" Title="Kernel Memory" type="unique">
                <Plot Title="Small">sml_mem</Plot>
                <Plot Title="Large">lg_mem</Plot>
                <Plot Title="Oversize">ovsz_alloc</Plot>
            </Graph>
            <Graph name="BUFFER" Title="Buffer" type="unique">
                <Plot Title="read">bread/s lread/s</Plot>
                <Plot Title="write">bwrit/s lwrit/s</Plot>
                <Plot Title="physical">pread/s pwrit/s</Plot>
                <Plot Title="%">%rcache %wcache</Plot>
            </Graph>
            <Graph name="DEVICE" Title="Device" type="multiple">
                <Plot Title="busy">%busy</Plot>
                <Plot Title="avque">avque</Plot>
                <Plot Title="r+w/s">r+w/s</Plot>
                <Plot Title="blks/s">blks/s</Plot>
                <Plot Title="avwait">avwait</Plot>
                <Plot Title="avserv">avserv</Plot>
            </Graph>
            <Graph name="RUNQ" Title="RunQ" type="unique">
                <Plot Title="runQ">runq-sz</Plot>
                <Plot Title="swapQ">swpq-sz</Plot>
            </Graph>
            <Graph name="SWAP" Title="Swap" type="unique">
                <Plot Title="lwp">swpin/s swpot/s</Plot>
                <Plot Title="page">bswin/s bswot/s</Plot>
                <Plot Title="switch">pswch/s</Plot>
            </Graph>
            <Graph name="SYSCALL" Title="Syscal" type="unique">
                <Plot Title="syscall">scall/s</Plot>
                <Plot Title="r/w">sread/s swrit/s</Plot>
                <Plot Title="fork">fork/s exec/s</Plot>
                <Plot Title="char">rchar/s wchar/s</Plot>
            </Graph>
            <Graph name="FILE" Title="File" type="unique">
                <Plot Title="file">iget/s namei/s dirbk/s</Plot>
            </Graph>
            <Graph name="TTY" Title="Tty" type="unique">
                <Plot Title="TTY">rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</Plot>
            </Graph>
            <Graph name="MSGS" Title="Messages / Semaphores" type="unique">
                <Plot Title="Messages">msg/s</Plot>
                <Plot Title="Semaphores">sema/s</Plot>
            </Graph>
            <Graph name="PAGING1" Title="Paging1" type="unique">
                <Plot Title="atch">atch/s</Plot>
                <Plot Title="in">pgin/s ppgin/s</Plot>
                <Plot Title="fault">pflt/s vflt/s</Plot>
                <Plot Title="lock">slock/s</Plot>
            </Graph>
            <Graph name="PAGING2" Title="Paging2" type="unique">
                <Plot Title="out">pgout/s ppgout/s</Plot>
                <Plot Title="free">pgfree/s</Plot>
                <Plot Title="scan">pgscan/s</Plot>
                <Plot Title="ufs_ipf">%ufs_ipf</Plot>
            </Graph>
            <Graph name="MEM" Title="Memory" type="unique">
                <Plot Title="freemem">freemem</Plot>
                <Plot Title="freeswap">freeswap</Plot>
            </Graph>
        </OSType>

        <OSType name="AIX">
            <Stat name="cswch">
                <headerstr>cswch/s</headerstr>
                <graphname>CSWCH</graphname>
            </Stat>
            <Stat name="file">
                <headerstr>iget/s lookuppn/s dirblk/s</headerstr>
                <graphname>FILE</graphname>
            </Stat>
            <Stat name="syscall">
                <headerstr>scall/s sread/s swrit/s fork/s exec/s rchar/s wchar/s</headerstr>
                <graphname>SYSCALL</graphname>
            </Stat>
            <Stat name="buffer">
                <headerstr>bread/s lread/s %rcache bwrit/s lwrit/s %wcache pread/s pwrit/s</headerstr>
                <graphname>BUFFER</graphname>
            </Stat>
            <Stat name="device1">
                <headerstr>device %busy avque r+w/s blks/s avwait avserv</headerstr>
                <graphname>DEVICE</graphname>
            </Stat>
            <Stat name="device2">
                <headerstr>device %busy avque r+w/s Kbs/s avwait avserv</headerstr>
                <graphname>DEVICE</graphname>
            </Stat>
            <Stat name="msgs">
                <headerstr>msg/s sema/s</headerstr>
                <graphname>MSGS</graphname>
            </Stat>
            <Stat name="kernel">
                <headerstr>ksched/s kproc-ov kexit/s</headerstr>
                <graphname>KERNEL</graphname>
            </Stat>
            <Stat name="runq">
                <headerstr>runq-sz %runocc swpq-sz %swpocc</headerstr>
                <graphname>RUNQ</graphname>
            </Stat>
            <Stat name="slot">
                <headerstr>slots cycle/s fault/s odio/s</headerstr>
                <graphname>SLOT</graphname>
            </Stat>
            <Stat name="proc">
                <headerstr>proc-sz inod-sz file-sz thrd-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="tty">
                <headerstr>rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</headerstr>
                <graphname>TTY</graphname>
            </Stat>
            <Stat name="cpu1">
                <headerstr>%usr %sys %wio %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="cpu2">
                <headerstr>%usr %sys %wio %idle physc</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Graph name="CPU" Title="CPU" type="unique">
                <Stack Title="Cpu">%usr %sys %wio %idle</Stack>
            </Graph>
            <Graph name="TTY" Title="Tty" type="unique">
                <Plot Title="TTY">rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</Plot>
            </Graph>
            <Graph name="CSWCH" Title="Context" type="unique">
                <Plot Title="Context">cswch/s</Plot>
            </Graph>
            <Graph name="FILE" Title="File" type="unique">
                <Plot Title="file">iget/s lookuppn/s dirblk/s</Plot>
            </Graph>
            <Graph name="SYSCALL" Title="Syscal" type="unique">
                <Plot Title="syscall">scall/s</Plot>
                <Plot Title="r/w">sread/s swrit/s</Plot>
                <Plot Title="fork">fork/s exec/s</Plot>
                <Plot Title="char">rchar/s wchar/s</Plot>
            </Graph>
            <Graph name="BUFFER" Title="Buffer" type="unique">
                <Plot Title="read">bread/s lread/s</Plot>
                <Plot Title="write">bwrit/s lwrit/s</Plot>
                <Plot Title="physical">pread/s pwrit/s</Plot>
                <Plot Title="%">%rcache %wcache</Plot>
            </Graph>
            <Graph name="DEVICE" Title="Device" type="multiple">
                <Plot Title="busy">%busy</Plot>
                <Plot Title="avque">avque</Plot>
                <Plot Title="r+w/s">r+w/s</Plot>
                <Plot Title="blks/s">blks/s</Plot>
                <Plot Title="Kbs/s">Kbs/s</Plot>
                <Plot Title="avwait">avwait</Plot>
                <Plot Title="avserv">avserv</Plot>
            </Graph>
            <Graph name="MSGS" Title="Messages / Semaphores" type="unique">
                <Plot Title="Messages">msg/s</Plot>
                <Plot Title="Semaphores">sema/s</Plot>
            </Graph>
            <Graph name="RUNQ" Title="RunQ" type="unique">
                <Plot Title="runQ">runq-sz</Plot>
                <Plot Title="swapQ">swpq-sz</Plot>
            </Graph>
            <Graph name="CPU" Title="CPU" type="unique">
            </Graph>
        </OSType>
        <OSType name="HP-UX">
            <Stat name="cpu1">
                <headerstr>%usr %sys %wio %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="device1">
                <headerstr>device %busy avque r+w/s blks/s avwait avserv</headerstr>
                <graphname>DEVICE</graphname>
            </Stat>
            <Stat name="runq">
                <headerstr>runq-sz %runocc swpq-sz %swpocc</headerstr>
                <graphname>RUNQ</graphname>
            </Stat>
            <Stat name="buffer">
                <headerstr>bread/s lread/s %rcache bwrit/s lwrit/s %wcache pread/s pwrit/s</headerstr>
                <graphname>BUFFER</graphname>
            </Stat>
            <Stat name="swap">
                <headerstr>swpin/s bswin/s swpot/s bswot/s pswch/s</headerstr>
                <graphname>SWAP</graphname>
            </Stat>
            <Stat name="syscall">
                <headerstr>scall/s sread/s swrit/s fork/s exec/s rchar/s wchar/s</headerstr>
                <graphname>SYSCALL</graphname>
            </Stat>
            <Stat name="file">
                <headerstr>iget/s namei/s dirbk/s</headerstr>
                <graphname>FILE</graphname>
            </Stat>
            <Stat name="tty">
                <headerstr>rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</headerstr>
                <graphname>TTY</graphname>
            </Stat>
            <Stat name="ksize">
                <headerstr>text-sz ov proc-sz ov inod-sz ov file-sz ov</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="msgs">
                <headerstr>msg/s sema/s</headerstr>
                <graphname>MSGS</graphname>
            </Stat>
            <Graph name="CPU" Title="CPU" type="unique">
                <Stack Title="Cpu">%usr %sys %wio %idle</Stack>
            </Graph>
            <Graph name="CPU" Title="CPU" type="unique">
            </Graph>
            <Graph name="DEVICE" Title="Device" type="multiple">
                <Plot Title="busy">%busy</Plot>
                <Plot Title="avque">avque</Plot>
                <Plot Title="r+w/s">r+w/s</Plot>
                <Plot Title="blks/s">blks/s</Plot>
                <Plot Title="avwait">avwait</Plot>
                <Plot Title="avserv">avserv</Plot>
            </Graph>
            <Graph name="RUNQ" Title="RunQ" type="unique">
                <Plot Title="runQ">runq-sz</Plot>
                <Plot Title="swapQ">swpq-sz</Plot>
            </Graph>
            <Graph name="BUFFER" Title="Buffer" type="unique">
                <Plot Title="read">bread/s lread/s</Plot>
                <Plot Title="write">bwrit/s lwrit/s</Plot>
                <Plot Title="physical">pread/s pwrit/s</Plot>
                <Plot Title="%">%rcache %wcache</Plot>
            </Graph>
            <Graph name="SWAP" Title="Swap" type="unique">
                <Plot Title="lwp">swpin/s swpot/s</Plot>
                <Plot Title="page">bswin/s bswot/s</Plot>
                <Plot Title="switch">pswch/s</Plot>
            </Graph>
            <Graph name="SYSCALL" Title="Syscal" type="unique">
                <Plot Title="syscall">scall/s</Plot>
                <Plot Title="r/w">sread/s swrit/s</Plot>
                <Plot Title="fork">fork/s exec/s</Plot>
                <Plot Title="char">rchar/s wchar/s</Plot>
            </Graph>
            <Graph name="FILE" Title="File" type="unique">
                <Plot Title="file">iget/s namei/s dirbk/s</Plot>
            </Graph>
            <Graph name="TTY" Title="Tty" type="unique">
                <Plot Title="TTY">rawch/s canch/s outch/s rcvin/s xmtin/s mdmin/s</Plot>
            </Graph>
            <Graph name="MSGS" Title="Messages / Semaphores" type="unique">
                <Plot Title="Messages">msg/s</Plot>
                <Plot Title="Semaphores">sema/s</Plot>
            </Graph>
        </OSType>
    </OS>
    <!--  END OS -->
</ConfiG>
