<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : Config.xml
    Created on : 10 août 2010, 16:31
    Author     : Max
    Description:
        Configure color of graphs

-->

<ConfiG>
    <colors>
    <!-- BEGIN CPU -->
    <itemcolor name="%usr">
        <color>0,255,0</color>
    </itemcolor>
    <itemcolor name="%sys">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name ="%system">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name="%user">
        <color>0,255,0</color>
    </itemcolor>
    <itemcolor name="%idle">
        <color>127,127,127</color>
    </itemcolor>
    <itemcolor name="%nice">
        <color>255,255,0</color>
    </itemcolor>
    <itemcolor name="%steal">
        <color>255,127,0</color>
    </itemcolor>
    <itemcolor name="%iowait">
        <color>255,0,127</color>
    </itemcolor>
    <!-- END CPU -->
    <itemcolor name="intr/s">
        <color>255,127,127</color>
    </itemcolor>
    <!-- BEGIN LOAD AVERAGE -->
    <itemcolor name="ldavg-1">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name="ldavg-5">
        <color>0,255,0</color>
    </itemcolor>
    <itemcolor name="ldavg-15">
        <color>0,255,0</color>
    </itemcolor>
    <!-- END LOAD AVERAGE -->
    <!-- BEGIN LINUX LOAD-->
    <itemcolor name="plist-sz">
        <color>0,255,255</color>
    </itemcolor>
    <itemcolor name="runq-sz">
        <color>255,255,0</color>
    </itemcolor>
    <!-- END LINUX LOAD-->
    <!-- BEGIN NFS -->
    <itemcolor name="coll/s">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name="rxerr/s">
        <color>255,255,0</color>
    </itemcolor>
    <itemcolor name="rxdrop/s">
        <color>255,0,255</color>
    </itemcolor>
    <itemcolor name="rxfram/s">
        <color>0,255,255</color>
    </itemcolor>
    <itemcolor name="rxfifo/s">
        <color>255,255,255</color>
    </itemcolor>
    <itemcolor name="txerr/s">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name="txdrop/s">
        <color>0,255,0</color>
    </itemcolor>
    <itemcolor name="txcarr/s">
        <color>0,0,255</color>
    </itemcolor>
    <itemcolor name="txfifo/s">
        <color>255,0,255</color>
    </itemcolor>
    <!-- END NFS -->
    <itemcolor name="cswch/s">
        <color>255,0,255</color>
    </itemcolor>
    <!-- BEGIN DEVICE -->
    <itemcolor name="blks/s">
        <color>255,0,255</color>
    </itemcolor>
    <itemcolor name="tps">
        <color>255,0,0</color>
    </itemcolor>
    <!-- END DEVICE -->
    <!-- BEGIN BLOCK -->
    <itemcolor name="bread/s">
        <color>255,0,0</color>
    </itemcolor>
    <itemcolor name="bwrtn/s">
        <color>255,255,0</color>
    </itemcolor>
    <itemcolor name="rtps">
        <color>255,0,255</color>
    </itemcolor>
    <itemcolor name="wtps">
        <color>0,0,255</color>
    </itemcolor>
    <!-- END BLOCK -->
    </colors>
    <!--  BEGIN OS -->
    <OS>
        <OSType name="Linux">
            <Stat name="proc1">
                <headerstr>proc/s</headerstr>
                <graphname>PROC</graphname>
            </Stat>

            <Stat name="cswch">
                <headerstr>cswch/s</headerstr>
                <graphname>CSWCH</graphname>
            </Stat>
            <Stat name="intr">
                <headerstr>INTR intr/s</headerstr>
                <graphname>INTR</graphname>
            </Stat>
            <Stat name="swap1">
                <headerstr>pswpin/s pswpout/s</headerstr>
                <graphname>SWAP</graphname>
            </Stat>
            <Stat name="proc2">
                <headerstr>proc/s cswch/s</headerstr>
                <graphname>PROC2</graphname>
            </Stat>
            <Stat name="dev2">
                <headerstr>DEV tps blks/s</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="page1">
                <headerstr>frmpg/s bufpg/s campg/s</headerstr>
                <graphname>PAGE</graphname>
            </Stat>
            <Stat name="page2">
                <headerstr>frmpg/s shmpg/s bufpg/s campg/s</headerstr>
                <graphname>PAGE</graphname>
            </Stat>
            <Stat name="load1">
                <headerstr>runq-sz plist-sz ldavg-1 ldavg-5</headerstr>
                <graphname>LOAD</graphname>
            </Stat>
            <Stat name="dev3">
                <headerstr>DEV tps rd_sec/s wr_sec/s</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="paging1">
                <headerstr>pgpgin/s pgpgout/s fault/s majflt/s</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="dentunusd1">
                <headerstr>dentunusd file-nr inode-nr pty-nr</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="cpu2">
                <headerstr>CPU %user %nice %system %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="io">
                <headerstr>tps rtps wtps bread/s bwrtn/s</headerstr>
                <graphname>IO</graphname>
            </Stat>
            <Stat name="socket1">
                <headerstr>totsck tcpsck udpsck rawsck ip-frag</headerstr>
                <graphname>SOCKET</graphname>
            </Stat>
            <Stat name="load2">
                <headerstr>runq-sz plist-sz ldavg-1 ldavg-5 ldavg-15</headerstr>
                <graphname>LOAD</graphname>
            </Stat>
            <Stat name="kswap">
                <headerstr>kbswpfree kbswpused %swpused kbswpcad %swpcad</headerstr>
                <graphname>KSWAP</graphname>
            </Stat>
            <Stat name="cpu3">
                <headerstr>CPU %user %nice %system %iowait %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="paging2">
                <headerstr>pgpgin/s pgpgout/s activepg inadtypg inaclnpg inatarpg</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="nfsc">
                <headerstr>call/s retrans/s read/s write/s access/s getatt/s</headerstr>
                <graphname>NFSC</graphname>
            </Stat>
            <Stat name="socket2">
                <headerstr>totsck tcpsck udpsck rawsck ip-frag tcp-tw</headerstr>
                <graphname>SOCKET</graphname>
            </Stat>
            <Stat name="cpu4">
                <headerstr> CPU %user %nice %system %iowait %steal %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="tty">
                <headerstr>TTY rcvin/s xmtin/s framerr/s prtyerr/s brk/s ovrun/s</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="kmem2">
                <headerstr>kbmemfree kbmemused %memused kbbuffers kbcached kbcommit %commit</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="inet10">
                <headerstr>IFACE rxpck/s txpck/s rxbyt/s txbyt/s rxcmp/s txcmp/s rxmcst/s</headerstr>
                <graphname>INET1</graphname>
            </Stat>
            <Stat name="inet11">
                <headerstr>IFACE rxpck/s txpck/s rxkB/s txkB/s rxcmp/s txcmp/s rxmcst/s</headerstr>
                <graphname>INET1</graphname>
            </Stat>
            <Stat name="cpu5">
                <headerstr>CPU %usr %nice %sys %iowait %steal %irq %soft %guest %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="kmem3">
                <headerstr>kbmemfree kbmemused %memused kbmemshrd kbbuffers kbcached kbswpfree kbswpused %swpused</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="kmem4">
                <headerstr>kbmemfree kbmemused %memused kbbuffers kbcached kbswpfree kbswpused %swpused kbswpcad</headerstr>
                <graphname>KMEM</graphname>
            </Stat>
            <Stat name="dev4">
                <headerstr>DEV tps rd_sec/s wr_sec/s avgrq-sz avgqu-sz await svctm %util</headerstr>
                <graphname>DEV</graphname>
            </Stat>
            <Stat name="dentunusd2">
                <headerstr>dentunusd file-sz inode-sz super-sz %super-sz dquot-sz %dquot-sz rtsig-sz %rtsig-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="paging3">
                <headerstr>pgpgin/s pgpgout/s fault/s majflt/s pgfree/s pgscank/s pgscand/s pgsteal/s %vmeff</headerstr>
                <graphname>PAGING</graphname>
            </Stat>
            <Stat name="inet21">
                <headerstr>IFACE rxerr/s txerr/s coll/s rxdrop/s txdrop/s txcarr/s rxfram/s rxfifo/s txfifo/s</headerstr>
                <graphname>INET2</graphname>
            </Stat>
            <Stat name="dentunusd3">
                <headerstr>dentunusd file-sz %file-sz inode-sz super-sz %super-sz dquot-sz %dquot-sz rtsig-sz %rtsig-sz</headerstr>
                <graphname>IGNORE</graphname>
            </Stat>
            <Stat name="cpu6">
                <headerstr>CPU %usr %nice %sys %iowait %steal %irq %soft %guest %idle</headerstr>
                <graphname>CPU</graphname>
            </Stat>
            <Stat name="nsfm">
                <headerstr>scall/s badcall/s packet/s udp/s tcp/s hit/s miss/s sread/s swrite/s saccess/s sgetatt/s</headerstr>
                <graphname>NFSM</graphname>
            </Stat>
 
            <!-- GRAPHS -->
            <Graph name="PROC" Title="Proc" type="line">
                <Plot title="proc">proc/s</Plot>
            </Graph>
            <Graph name="CSWCH" Title="Context" type="line">
                <Plot title="cwsch">cswch/s</Plot>
            </Graph>

            <Graph name="INTR" Title="Interrupts" type="linelist">
                <Plot title="intr">intr/s</Plot>
            </Graph>
            <Graph name="SWAP" Title="Swap" type="line">
                <Plot title="swap">pswpin/s pswpout/s</Plot>
            </Graph>
            <Graph name="INET1" Title="Interfaces traffic" type="linelist">
                <Plot title="packet">rxpck/s txpck/s</Plot>
                <Plot title="bytes">rxbyt/s txbyt/s rxkB/s txkB/s</Plot>
                <Plot title="cast">rxcmp/s txcmp/s rxmcst/s</Plot>
            </Graph>
            <Graph name="INET2" Title="Interfaces error" type="linelist">
                <Plot title="Rx">rxerr/s rxdrop/s rxfram/s  rxfifo/s</Plot>
                <Plot title="Tx">txerr/s txdrop/s txcarr/s  txfifo/s</Plot>
                <Plot title="Collision">coll/s</Plot>
            </Graph>
            <Graph name="PAGING" Title="Paging" type="line">
                <Plot title="pgp">pgpgin/s pgpgout/s</Plot>
                <Plot title="pg">activepg inadtypg inaclnpg inatarpg</Plot>
                <Plot title="fault">fault/s majflt/s</Plot>
                <Plot title="free">pgfree/s pgscank/s pgscand/s pgsteal/s</Plot>
                <Plot title="vmeff">vmeff</Plot>
            </Graph>
            <Graph name="DEV" Title="Devices" type="linelist">
                <Plot title="tps">tps</Plot>
                <Plot title="blks/s">blks/s</Plot>
                <Plot title="sector">rd_sec/s wr_sec/s</Plot>
                <Plot title="queue">avgrq-sz avgqu-sz</Plot>
                <Plot title="service">await svctm</Plot>
                <Plot title="util">%util</Plot>
            </Graph>
            <Graph name="IO" Title="I/O" type="line">
                <Plot title="tps">tps rtps wtps</Plot>
                <Plot title="byte">bread/s bwrtn/s</Plot>
            </Graph>
            <Graph name="PAGE" Title="Page" type="line">
                <Plot title="Page">frmpg/s shmpg/s bufpg/s campg/s</Plot>
            </Graph>
            <Graph name="KMEM" Title="KMem" type="line">
                <Plot title="KMem">kbmemfree kbmemused kbmemshrd kbbuffers kbcached kbcommit</Plot>
                <Plot title="Swap">kbswpfree kbswpused kbswpcad</Plot>
                <Plot title="%">%memused %swpused %commit</Plot>
            </Graph>
            <Graph name="KSWAP" Title="KSwap" type="line">
                <Plot title="Swap">kbswpfree kbswpused kbswpcad</Plot>
                <Plot title="%">%swpused %swpcad</Plot>
            </Graph>
            <Graph name="LOAD" Title="Load" type="line">
                <Plot title="RunQ">runq-sz</Plot>
                <Plot title="Plist">plist-sz</Plot>
                <Plot title="LA">ldavg-1 ldavg-5 ldavg-15</Plot>
            </Graph>
            <Graph name="SOCKET" Title="Socket" type="line">
                <Plot title="Socket">totsck tcpsck udpsck rawsck</Plot>
                <Plot title="Frag">ip-frag tcp-tw</Plot>
            </Graph>
            <Graph name="NFSC" Title="NFS Client" type="line">
                <Plot title="call">call/s retrans/s</Plot>
                <Plot title="I/O">read/s write/s</Plot>
                <Plot title="access">access/s getatt/s</Plot>
            </Graph>
            <Graph name="NFSM" Title="NFS Server" type="line">
                <Plot title="call">call/s badcalls/s</Plot>
                <Plot title="I/O">packet/s udp/s tcp/s</Plot>
                <Plot title="cache">hit/s miss/s</Plot>
                <Plot title="traffic">sread/s swrite/s saccess/s sgetatt/s</Plot>
            </Graph>
            <Graph name="PROC2" Title="Processus" type="line">
                <Plot title="Proc">proc/s</Plot>
                <Plot title="context">cswch/s</Plot>
            </Graph>
            <Graph name="CPU" Title="CPU" type="stackedlist">
		
            </Graph>
        </OSType>
    </OS>
    <!--  END OS -->
</ConfiG>
